# Redis（本地 docker 启动）
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=

# Kafka（仅连接配置，启动不关注）
KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_TOPIC=learn-topic
KAFKA_GROUP_ID=learn-group
KAFKA_CLIENT_ID=redis-mq-app
KAFKA_AUTO_OFFSET_RESET=earliest
